Source: nymea-plugins-modbus
Section: utils
Priority: options
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 3.9.3
Build-depends: debhelper (>= 9.0.0),
               libnymea-dev (>= 0.17),
               libnymea-gpio-dev,
               libqt5serialbus5-dev,
               libqt5serialport5-dev,
               nymea-dev-tools:native,
               pkg-config,
               qtbase5-dev,
               libi2c-dev,
               python3:native


Package: libnymea-sunspec1
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io sunspec library
 This package contains the nymea sunspec library.


Package: libnymea-sunspec-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-sunspec1 (= ${binary:Version}),
         pkg-config,
         qtbase5-dev,
Description: The main libraries and header files for developing with nymea sunspec.
 This package contains the nymea sunspec library - development files.


Package: libnymea-modbus
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea modbus integration plugins library
 This package contains the nymea modbus library for integration plugins.


Package: libnymea-modbus-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-modbus (= ${binary:Version}),
         pkg-config,
         qtbase5-dev,
         python3,
Description: The main libraries and header files for developing with modbus based nymea integration plugins.
 This package contains the nymea modbus integration plugin library - development files.


Package: nymea-modbus-cli
Architecture: any
Section: utils
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea modbus command line tool for testing modbus TCP communication
 This package contains the nymea modbus command line tool for testing modbus TCP communication.

Package: nymea-plugin-abb
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for abb wallboxes
 This package contains the nymea integration plugin for a abb wallbox.


Package: nymea-plugin-aeberle
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for A-Eberle Modbus RTU based energy meters (e.g. PQI-DA smart)
 This package contains the nymea integration plugin for Modbus RTU based energy meters
 made by A-Eberle.


Package: nymea-plugin-alphainnotec
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for alpha innotec heat pumps
 This package contains the nymea integration plugin for alpha innotec head pumps.

Package: nymea-plugin-alphatec
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for alphatec ev charger
 This package contains the nymea integration plugin for the alphatec ev charger.


Package: nymea-plugin-azzurro
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for azzurro hybrid inverters
 This package contains the nymea integration plugin for azzurro hybrid inverters.


Package: nymea-plugin-amperfied
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Amperfeid/Heidelberg wallboxes
 This package contains the nymea integration plugin for Amperfeid/Heidelberg wallboxes.


Package: nymea-plugin-bgetech
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for B+G E-Tech Modbus based energy meters
 This package contains the nymea integration plugin for Modbus based energy meters
 made by B+G E-Tech.

Package: nymea-plugin-janitza
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Janitza UMG604 Pro Modbus based energy meters
 This package contains the nymea integration plugin for Modbus based energy meters
 made by Janitza.

Package: nymea-plugin-broetje
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Brötje heat pump models BLW Eco.1 and BLW Mono.1 based on Modbus
 This package contains the nymea integration plugin for Brötje heat pump models BLW Eco.1 and BLW Mono.1 based on Modbus.


Package: nymea-plugin-drexelundweiss
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Drexel & Weiss heat pumps
 This package contains the nymea integration plugin for Drexel & Weiss heat pumps.


Package: nymea-plugin-e3dc
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for E3DC inverters
 This package contains the nymea integration plugin for E3DC inverters.


Package: nymea-plugin-goodwe
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for GoodWe inverters
 This package contains the nymea integration plugin for GoodWe inverters.


Package: nymea-plugin-schneider-iem
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Schneider IEM meters
 This package contains the nymea integration plugin for Schneider IEM meters.



Package: nymea-plugin-idm
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for iDM heat pumps
 This package contains the nymea integration plugin for iDM heat pumps.


Package: nymea-plugin-inepro
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for inepro Metering Modbus based energy meters
 This package contains the nymea integration plugin for Modbus based energy meters
 made by inepro Metering.


Package: nymea-plugin-huawei
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for Huawei FusionSolar energy devices
 This package contains the nymea integration plugin for Huawei FusionSolar devices
 based on Modbus TCP.


Package: nymea-plugin-kaco-sunspec
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io plugin for Kaco Solar inverters supporting SunSpec using modbus
 This package contains the nymea.io plugin for Kaco Solar inverters supportung SunSpec using modbus


Package: nymea-plugin-kostal
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io plugin for Kostal Solar inverters
 This package contains the nymea.io plugin for Kostal Solar inverters


Package: nymea-plugin-lambda
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io plugin for Lambda heat pumps
 This package contains the nymea.io plugin for Lambda heat pumps


Package: nymea-plugin-mennekes
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io plugin for Mennekes wallboxes
 This package contains the nymea.io plugin for Mennekes wallboxes


Package: nymea-plugin-modbuscommander
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin to send and receive generic modbus commands
 This package contains a nymea integration plugin which allows to send and receive
 generic Modbus commands to/from a Modbus device.


Package: nymea-plugin-mypv
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for my-pv heating rods
 This package contains the nymea integration plugin for my-pv solar inverters.


Package: nymea-plugin-mtec
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for M-TEC heat pumps
 This package contains the nymea integration plugin for M-TEC heat pumps.


Package: nymea-plugin-sax
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Sax energy storage
 This package contains the nymea integration plugin for energy storages made
 by Sax.


Package: nymea-plugin-schneider
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Schneider EVlink wallboxes
 This package contains the nymea integration plugin for wallboxes made
 by Schneider.


Package: nymea-plugin-schrack
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Schrack wallboxes
 This package contains the nymea integration plugin for Schrack wallboxes.


Package: nymea-plugin-senseair
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Senseair sensors
 This package contains the nymea integration plugin for Senseair sensors.


Package: nymea-plugin-sma
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for SMA solar inverters and meters
 This package contains the nymea integration plugin for SMA solar inverters and meters.

Package: nymea-plugin-sofarsolar
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for SOFAR solar hybrid inverters
 This package contains the nymea integration plugin for SOFAR solar hybrid inverters.

Package: nymea-plugin-solax
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for Solax solar inverters and meters
 This package contains the nymea integration plugin for Solax solar inverters and meters.

Package: nymea-plugin-stiebeleltron
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea.io plugin for Stiebel Eltron heat pumps
  This package will install the nymea.io plugin for Stiebel Eltron heat pumps.


Package: nymea-plugin-sungrowsg
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea.io plugin for Sungrow SG inverters
  This package will install the nymea.io plugin for Sungrow SG inverters.

Package: nymea-plugin-sungrowsh
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea.io plugin for Sungrow SH inverters
  This package will install the nymea.io plugin for Sungrow SH inverters.

Package: nymea-plugin-sunspec
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for SunSpec Modbus devices
 This package contains the nymea integration plugin for SunSpec compatible solar inverters.

Package: nymea-plugin-technivolt
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Technivolt wallboxes
  This package contains the nymea integration plugin for wallboxes made
 by Technivolt.

Package: nymea-plugin-unipi2
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         wiringpi,
Replaces: nymea-plugin-unipi
Description: nymea integration plugin for UniPi devices
 This package contains the nymea integration plugin for UniPi devices.


Package: nymea-plugin-phoenixconnect
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Conflicts: nymea-plugin-wallbe
Replaces: nymea-plugin-wallbe
Description: nymea integration plugin for PhoenixConnect wallboxes
 This package contains the nymea integration plugin for wallboxes made
 by PhonenixConnect and rebranded as Wallbe, Compleo and Scapo.


Package: nymea-plugin-vestel
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Vestel wallboxes
 This package contains the nymea integration plugin for wallboxes made
 by Vestel.


Package: nymea-plugin-webasto
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Webasto Live wallboxes
 This package contains the nymea integration plugin for wallboxes made
 by Webasto.

Package: nymea-plugin-dvmodbusir
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Device dvModbusIR read-out adapters
 This package contains the nymea integration plugin for read-out adapters made
 by Device GmbH.

Package: nymea-plugin-alfen
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Alfen Eve Single Pro-Line wallbox.
 This package contains the nymea integration plugin for wallboxes made
 by Alfen N.V.

Package: nymea-plugin-growatt
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Growatt inverter including meter and battery. 
  This Package contains the nymea integration for inverter, meter and battery made by
  Growatt New Energy GmbH.

Package: nymea-plugin-solaxevc
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for Solax X3 EV Charger
 This package contains the nymea integration plugin for the Solax X3 EV Charger.

Package: nymea-plugin-foxesswbv3
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for FoxESS wallbox 3rd gen.
 This package contains the nymea integration plugin for the FoxESS wallbox 3rd gen..

Package: nymea-plugin-qcellsg4wb
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for QCells Gen 4 wallbox.
 This package contains the nymea integration plugin for the QCells Gen 4 wallbox.

Package: nymea-plugin-kostalmeter
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration to use Smart Meter P, SDM72 from Kostal with the Consolinno HEMS.
 This package is an automatically generated copy of the bgetech integration.

Package: nymea-plugin-solaxultra
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea integration plugin for Solax X3 Ultra solar inverters and meters
 This package contains the nymea integration plugin for Solax X3 Ultra solar inverters and meters.
